<!--显示等待教师审批的仪器操作资格申请-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iconfont.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}" />
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/f.js')}}"></script>
    <title>待审批仪器操作申请</title>
</head>
<body>
    <div class="PublicHead clearfix">
        <div class="leftBox clearfix">
            <!--<div class="companyLogo">
                <img src="images/logo.jpg" />
            </div>-->
            <!--<i class="iconfont icon-caidan Js_MenuList"></i>-->

            <div class="companyText">
                仪器预约管理系统
            </div>
        </div>
        <div class="RightBox clearfix">
            <div class="UserPhotoBox">
                <div class="UserPic">
                    <img src="{{url_for('static', filename='images/user.jpg')}}" />
                </div>
                <div class="UserName">
                    教师
                </div>
            </div>
            <a href="/login">
                <div class="dropOutBox">
                    <i class="iconfont icon-app_icons--">
                    </i>
                    <span>退出</span>
                </div>
            </a>
        </div>
    </div>

    <div class="PublicDownWhole clearfix">
        <!--左侧-->
        <div class="leftBox Js_leftBox">
            <ul>
                <a href="/myinfo"> <li><i class="iconfont icon-yonghuguanli"></i><span>个人信息</span></li></a>
                <a href="/mygroup-teacher">
                    <li class="Select"><i class="iconfont icon-tubiao_dingdan"></i><span>课题组信息</span></li>
                </a>
                <a href="/instrument">      <li><i class="iconfont icon-weibiaoti1"></i><span>仪器预约审批</span></li></a>
                <a href="/feedback">
                    <li><i class="iconfont icon-tubiao_dingdan"></i><span>反馈信息查看</span></li>
                </a>
            </ul>
        </div>
        <!--右侧-->
        <div class="RightBox Js_RightBox">
            <div class="PublicContentBox">
                <!--公用指向页面名字-->
                <div class="PublicPointToAgeText">
                    <span class="span2">待审核操作资格申请列表</span>
                </div>
                <!--查询-->
                <!--<div class="InquireBox clearfix">
                    <div class="InquireleftBox">
                        <div class="Text">手机号：</div>
                        <div class="InputDiv">   <input class="phoneInput" placeholder="请输入你需要查询的手机号" /></div>
                    </div>
                    <div class="PublicBtnIcon Color1Btn fr">
                        <i class="iconfont icon-icon-chaxun"></i>
                        <span>查询</span>
                    </div>
                </div>-->
                <!--表修改-->
                <div class="InquireTableBox">
                    <div class="headbox">
                        <div class="headboxtext">
                            <!-- <span class="span1">我的课题组列表</span> -->
                        </div>
                        <!--批量删除-->
<!--
                        <div class="PublicBtnIcon Color5Btn">
                            <i class="iconfont  icon-shanchu"></i>
                            <span>批量删除</span>
                        </div>

                        <div class="PublicBtnIcon Color2Btn fr Js_edit">
                            <i class="iconfont icon-changyongtubiao-mianxing-"></i>
                            <span>编辑</span>
                        </div>
-->
                    </div>

                    <!--查询到的表格-->

                    <div class="InquireSelectTable">
                        <table class="PublicTableCss">
                            <thead>
                            <tr>
                                <td>编号</td>
                                <td>状态</td>
                                <td>申请人学号</td>
                                <td>仪器名称</td>
                                <td>操作</td>
                            </tr>
                            </thead>

                            <tbody>
                            {% for record in records %}
                            <tr>
                                <td id="record-id">{{ record[0] }}</td>
                                <td id="record-state">{{ record[1] }}</td>
                                <td id="record-student">{{ record[2] }}</td>
                                <td id="record-name">{{ record[5] }}</td>
                                <td>
                                        
                                    <div class="PublicTableBtnIcon Color3Btn Js_agree">
                                        <i class="iconfont icon-tubiaozhizuomobanyihuifu-" id="agree"></i>
                                        <span>通过</span>
                                        <!-- <button type="button" class="btn" id="agree">通过</button> -->
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--分页-->
                    <div class="PageNumber">
                        <div class="NumbersBox">
                            <div class="LeftArrow">
                                上一页
                            </div>
                            <ul>
                                <li class="Select">1</li>
                                <li class="">2</li>
                                <li class="">...</li>
                                <li class="">4</li>
                                <li class="">5</li>
                            </ul>
                            <div class="RightArrow ">
                                下一页
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- alert通用 提示是否删除-->

    <div class="PublicFloatBox f_agree ">
        <div class="f_MiddleBox wid260">
            <div class="f_Head">
                <span>提示消息</span>
                <i class="Js_closeBtn iconfont icon-buoumaotubiao20 fr"></i>
            </div>
            <div class="f_content clearfix">

                <!--提示消息内容-->

                <div class="f_someText">
                    <i class="iconfont icon-tishi"></i>
                    <span>确定通过此审批？</span>
                    <span id="record-id-chosen" hidden="hidden"></span> <!-- 暂时储存选中记录编号的地方，不展示给用户 -->
                </div>

                <!--按钮-->

                <div class="f_pormatBtn  clearfix">
                    <div class="f_pormatBtn1" id="pass-teacher">
                        确定
                    </div>
                    <div class="f_pormatBtn2" id="reject-teacher">
                        驳回
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--添加用户浮层-->
<!--
    <div class="PublicFloatBox adduser">
        <div class="f_MiddleBox wid400">
            <div class="f_Head">
                <span>添加分类</span>
                <i class="Js_closeBtn iconfont icon-buoumaotubiao20 fr"></i>

            </div>
            <div class="f_content">
                <div class="f_alonediv">
                    <div class="f_alone_name">
                        ID:
                    </div>
                    <div class="f_alone_input">
                        <input class="f_p_input" />
                    </div>
-->
                    <!--提示消息-->
<!--

                    <div class="f_pormat">
                        请输入正确的ID
                    </div>
                </div>
                <div class="f_alonediv">
                    <div class="f_alone_name">
                        添加分类:
                    </div>
                    <div class="f_alone_input">
                        <input class="f_p_input" />
                    </div>
-->                    
                    <!--提示消息-->
<!--                    
                    <div class="f_pormat">
                        请输入正确的分类
                    </div>
                </div>
                <div class="f_alonediv1">
                    <div class="f_alone_name">
                    </div>
                    <div class="f_alone_input1">
-->
                        <!--publicbtn-->
<!--
                        <div class="publicf_btn">
                            <div class="publicf_btn1">
                                确定
                            </div>
                            <div class="publicf_btn2 fr Js_closeBtn">
                                取消
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
-->
    <!--返回顶部-->
    <a href="javaScript:void();" class="back-to-top"><i class="iconfont icon-fanhuidingbu"></i> </a>
</body>
</html>

<script src="../static/js/jquery-1.11.1.min.js"></script>
<script>
    /*function clickTest(node) {
        var tr = node.parentNode.parentNode;
        // alert(tr.rowIndex);
        // alert(tr.cells[0].innerText);
        window.alert("您向课题组："+tr.cells[2].innerText+" 发送了加入申请，请等待老师批准。");
    }*/

    // 【TO DO 如果是每一行配备一个按钮，那么怎么将这一行的信息存到数据库里面去……】
    // 【1.找到该行课题组的关键数据 2.利用Ajax发回路由函数 3.在路由函数处调用数据库函数】
  
    $(function() {
        $('.btn').click(function() {    // 这里如果用join id的话，只能取到第一个按钮
            // var leaderID = $(this).parent().prev().val();
            var inst_name = $(this).parent().parent().children("#inst-name");
            var inst_type = $(this).parent().parent().children("#inst-type");
            inst_name.css('background-color', 'red');
            inst_type.css('background-color', 'blue');
            var inst_student = $(this).parent().parent().children("#inst-student");
            var inst_time = $(this).parent().parent().children("#inst-time");
            var inst_state = $(this).parent().parent().children("#inst-state");


            $.ajax({
                async:"fales",
                type:"POST",
                url:"/instapprove-teacher",
                data: {
                    "inst-type":inst_type   
                },

                // 【TO DO 若返回值为joined，弹窗提示已在该课题组中】
                // 【TO DO 若返回值为applied，弹窗提示申请已发送】

                /*success:function(data) {
                    if (data == "joined") {
                        $("#message").html('你已经加入该课题组！');
                    } else if (data == "applied") {
                        $("#message").html('您向课题组发送了加入申请，请等待老师批准。');
                    }
                }*/
            });
        });
    });
</script>
